Web References/AlgorithmatOnline/AlgorithmatOnlineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterCustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsTemp">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSiteReadings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intSiteID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsReadings">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSiteReadingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadSiteReadingsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsContent">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEditContentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intContentetID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContentResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intContentID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchContentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsPage">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditPageResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePageResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTitleA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strURLA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPageResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsImage">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intImageID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intCountryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intSubjectID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="blIsDateRange" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="dtStartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtEndDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="intImageType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intLanguage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchImageResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsFile">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEditFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intFileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDesc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intCountryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intSubjectID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="blIsDateRange" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="dtStartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtEndDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="intFileType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchFileResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterCustomer" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="UploadDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadData" />
  </wsdl:message>
  <wsdl:message name="UploadDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDataResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSiteReadingsSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSiteReadings" />
  </wsdl:message>
  <wsdl:message name="UploadSiteReadingsSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSiteReadingsResponse" />
  </wsdl:message>
  <wsdl:message name="AddEditContentSoapIn">
    <wsdl:part name="parameters" element="tns:AddEditContent" />
  </wsdl:message>
  <wsdl:message name="AddEditContentSoapOut">
    <wsdl:part name="parameters" element="tns:AddEditContentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteContentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteContent" />
  </wsdl:message>
  <wsdl:message name="DeleteContentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteContentResponse" />
  </wsdl:message>
  <wsdl:message name="SearchContentSoapIn">
    <wsdl:part name="parameters" element="tns:SearchContent" />
  </wsdl:message>
  <wsdl:message name="SearchContentSoapOut">
    <wsdl:part name="parameters" element="tns:SearchContentResponse" />
  </wsdl:message>
  <wsdl:message name="AddEditPageSoapIn">
    <wsdl:part name="parameters" element="tns:AddEditPage" />
  </wsdl:message>
  <wsdl:message name="AddEditPageSoapOut">
    <wsdl:part name="parameters" element="tns:AddEditPageResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePageSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePage" />
  </wsdl:message>
  <wsdl:message name="DeletePageSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePageResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPageSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPage" />
  </wsdl:message>
  <wsdl:message name="SearchPageSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPageResponse" />
  </wsdl:message>
  <wsdl:message name="AddEditImageSoapIn">
    <wsdl:part name="parameters" element="tns:AddEditImage" />
  </wsdl:message>
  <wsdl:message name="AddEditImageSoapOut">
    <wsdl:part name="parameters" element="tns:AddEditImageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:message name="SearchImageSoapIn">
    <wsdl:part name="parameters" element="tns:SearchImage" />
  </wsdl:message>
  <wsdl:message name="SearchImageSoapOut">
    <wsdl:part name="parameters" element="tns:SearchImageResponse" />
  </wsdl:message>
  <wsdl:message name="AddEditFileSoapIn">
    <wsdl:part name="parameters" element="tns:AddEditFile" />
  </wsdl:message>
  <wsdl:message name="AddEditFileSoapOut">
    <wsdl:part name="parameters" element="tns:AddEditFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="SearchFileSoapIn">
    <wsdl:part name="parameters" element="tns:SearchFile" />
  </wsdl:message>
  <wsdl:message name="SearchFileSoapOut">
    <wsdl:part name="parameters" element="tns:SearchFileResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerHttpGetIn">
    <wsdl:part name="strMail" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DeleteContentHttpGetIn">
    <wsdl:part name="intContentetID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteContentHttpGetOut" />
  <wsdl:message name="SearchContentHttpGetIn">
    <wsdl:part name="intContentID" type="s:string" />
    <wsdl:part name="intType" type="s:string" />
    <wsdl:part name="strDesc" type="s:string" />
    <wsdl:part name="intMinID" type="s:string" />
    <wsdl:part name="intMaxID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchContentHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DeletePageHttpGetIn">
    <wsdl:part name="intPageID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeletePageHttpGetOut" />
  <wsdl:message name="SearchPageHttpGetIn">
    <wsdl:part name="intPageID" type="s:string" />
    <wsdl:part name="strDesc" type="s:string" />
    <wsdl:part name="strTitleA" type="s:string" />
    <wsdl:part name="strURLA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchPageHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DeleteImageHttpGetIn">
    <wsdl:part name="intImageID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteImageHttpGetOut" />
  <wsdl:message name="SearchImageHttpGetIn">
    <wsdl:part name="intID" type="s:string" />
    <wsdl:part name="strIDs" type="s:string" />
    <wsdl:part name="strTitle" type="s:string" />
    <wsdl:part name="strDesc" type="s:string" />
    <wsdl:part name="intCountryID" type="s:string" />
    <wsdl:part name="intSubjectID" type="s:string" />
    <wsdl:part name="blIsDateRange" type="s:string" />
    <wsdl:part name="dtStartDate" type="s:string" />
    <wsdl:part name="dtEndDate" type="s:string" />
    <wsdl:part name="intImageType" type="s:string" />
    <wsdl:part name="intSize" type="s:string" />
    <wsdl:part name="intLanguage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchImageHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DeleteFileHttpGetIn">
    <wsdl:part name="intFileID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteFileHttpGetOut" />
  <wsdl:message name="SearchFileHttpGetIn">
    <wsdl:part name="intID" type="s:string" />
    <wsdl:part name="strIDs" type="s:string" />
    <wsdl:part name="strTitle" type="s:string" />
    <wsdl:part name="strDesc" type="s:string" />
    <wsdl:part name="intCountryID" type="s:string" />
    <wsdl:part name="intSubjectID" type="s:string" />
    <wsdl:part name="blIsDateRange" type="s:string" />
    <wsdl:part name="dtStartDate" type="s:string" />
    <wsdl:part name="dtEndDate" type="s:string" />
    <wsdl:part name="intFileType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchFileHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerHttpPostIn">
    <wsdl:part name="strMail" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterCustomerHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DeleteContentHttpPostIn">
    <wsdl:part name="intContentetID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteContentHttpPostOut" />
  <wsdl:message name="SearchContentHttpPostIn">
    <wsdl:part name="intContentID" type="s:string" />
    <wsdl:part name="intType" type="s:string" />
    <wsdl:part name="strDesc" type="s:string" />
    <wsdl:part name="intMinID" type="s:string" />
    <wsdl:part name="intMaxID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchContentHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DeletePageHttpPostIn">
    <wsdl:part name="intPageID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeletePageHttpPostOut" />
  <wsdl:message name="SearchPageHttpPostIn">
    <wsdl:part name="intPageID" type="s:string" />
    <wsdl:part name="strDesc" type="s:string" />
    <wsdl:part name="strTitleA" type="s:string" />
    <wsdl:part name="strURLA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchPageHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DeleteImageHttpPostIn">
    <wsdl:part name="intImageID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteImageHttpPostOut" />
  <wsdl:message name="SearchImageHttpPostIn">
    <wsdl:part name="intID" type="s:string" />
    <wsdl:part name="strIDs" type="s:string" />
    <wsdl:part name="strTitle" type="s:string" />
    <wsdl:part name="strDesc" type="s:string" />
    <wsdl:part name="intCountryID" type="s:string" />
    <wsdl:part name="intSubjectID" type="s:string" />
    <wsdl:part name="blIsDateRange" type="s:string" />
    <wsdl:part name="dtStartDate" type="s:string" />
    <wsdl:part name="dtEndDate" type="s:string" />
    <wsdl:part name="intImageType" type="s:string" />
    <wsdl:part name="intSize" type="s:string" />
    <wsdl:part name="intLanguage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchImageHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DeleteFileHttpPostIn">
    <wsdl:part name="intFileID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteFileHttpPostOut" />
  <wsdl:message name="SearchFileHttpPostIn">
    <wsdl:part name="intID" type="s:string" />
    <wsdl:part name="strIDs" type="s:string" />
    <wsdl:part name="strTitle" type="s:string" />
    <wsdl:part name="strDesc" type="s:string" />
    <wsdl:part name="intCountryID" type="s:string" />
    <wsdl:part name="intSubjectID" type="s:string" />
    <wsdl:part name="blIsDateRange" type="s:string" />
    <wsdl:part name="dtStartDate" type="s:string" />
    <wsdl:part name="dtEndDate" type="s:string" />
    <wsdl:part name="intFileType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchFileHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="AlgorithmatOnlineServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input message="tns:RegisterCustomerSoapIn" />
      <wsdl:output message="tns:RegisterCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadData">
      <wsdl:input message="tns:UploadDataSoapIn" />
      <wsdl:output message="tns:UploadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadSiteReadings">
      <wsdl:input message="tns:UploadSiteReadingsSoapIn" />
      <wsdl:output message="tns:UploadSiteReadingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEditContent">
      <wsdl:input message="tns:AddEditContentSoapIn" />
      <wsdl:output message="tns:AddEditContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <wsdl:input message="tns:DeleteContentSoapIn" />
      <wsdl:output message="tns:DeleteContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchContent">
      <wsdl:input message="tns:SearchContentSoapIn" />
      <wsdl:output message="tns:SearchContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEditPage">
      <wsdl:input message="tns:AddEditPageSoapIn" />
      <wsdl:output message="tns:AddEditPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <wsdl:input message="tns:DeletePageSoapIn" />
      <wsdl:output message="tns:DeletePageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <wsdl:input message="tns:SearchPageSoapIn" />
      <wsdl:output message="tns:SearchPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEditImage">
      <wsdl:input message="tns:AddEditImageSoapIn" />
      <wsdl:output message="tns:AddEditImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input message="tns:DeleteImageSoapIn" />
      <wsdl:output message="tns:DeleteImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchImage">
      <wsdl:input message="tns:SearchImageSoapIn" />
      <wsdl:output message="tns:SearchImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEditFile">
      <wsdl:input message="tns:AddEditFileSoapIn" />
      <wsdl:output message="tns:AddEditFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <wsdl:input message="tns:SearchFileSoapIn" />
      <wsdl:output message="tns:SearchFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AlgorithmatOnlineServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input message="tns:RegisterCustomerHttpGetIn" />
      <wsdl:output message="tns:RegisterCustomerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <wsdl:input message="tns:DeleteContentHttpGetIn" />
      <wsdl:output message="tns:DeleteContentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchContent">
      <wsdl:input message="tns:SearchContentHttpGetIn" />
      <wsdl:output message="tns:SearchContentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <wsdl:input message="tns:DeletePageHttpGetIn" />
      <wsdl:output message="tns:DeletePageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <wsdl:input message="tns:SearchPageHttpGetIn" />
      <wsdl:output message="tns:SearchPageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input message="tns:DeleteImageHttpGetIn" />
      <wsdl:output message="tns:DeleteImageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchImage">
      <wsdl:input message="tns:SearchImageHttpGetIn" />
      <wsdl:output message="tns:SearchImageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileHttpGetIn" />
      <wsdl:output message="tns:DeleteFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <wsdl:input message="tns:SearchFileHttpGetIn" />
      <wsdl:output message="tns:SearchFileHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AlgorithmatOnlineServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input message="tns:RegisterCustomerHttpPostIn" />
      <wsdl:output message="tns:RegisterCustomerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <wsdl:input message="tns:DeleteContentHttpPostIn" />
      <wsdl:output message="tns:DeleteContentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchContent">
      <wsdl:input message="tns:SearchContentHttpPostIn" />
      <wsdl:output message="tns:SearchContentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <wsdl:input message="tns:DeletePageHttpPostIn" />
      <wsdl:output message="tns:DeletePageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <wsdl:input message="tns:SearchPageHttpPostIn" />
      <wsdl:output message="tns:SearchPageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input message="tns:DeleteImageHttpPostIn" />
      <wsdl:output message="tns:DeleteImageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchImage">
      <wsdl:input message="tns:SearchImageHttpPostIn" />
      <wsdl:output message="tns:SearchImageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileHttpPostIn" />
      <wsdl:output message="tns:DeleteFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <wsdl:input message="tns:SearchFileHttpPostIn" />
      <wsdl:output message="tns:SearchFileHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlgorithmatOnlineServiceSoap" type="tns:AlgorithmatOnlineServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <soap:operation soapAction="http://tempuri.org/RegisterCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadData">
      <soap:operation soapAction="http://tempuri.org/UploadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSiteReadings">
      <soap:operation soapAction="http://tempuri.org/UploadSiteReadings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditContent">
      <soap:operation soapAction="http://tempuri.org/AddEditContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <soap:operation soapAction="http://tempuri.org/DeleteContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContent">
      <soap:operation soapAction="http://tempuri.org/SearchContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditPage">
      <soap:operation soapAction="http://tempuri.org/AddEditPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <soap:operation soapAction="http://tempuri.org/DeletePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <soap:operation soapAction="http://tempuri.org/SearchPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditImage">
      <soap:operation soapAction="http://tempuri.org/AddEditImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://tempuri.org/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchImage">
      <soap:operation soapAction="http://tempuri.org/SearchImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditFile">
      <soap:operation soapAction="http://tempuri.org/AddEditFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <soap:operation soapAction="http://tempuri.org/SearchFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlgorithmatOnlineServiceSoap12" type="tns:AlgorithmatOnlineServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <soap12:operation soapAction="http://tempuri.org/RegisterCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadData">
      <soap12:operation soapAction="http://tempuri.org/UploadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSiteReadings">
      <soap12:operation soapAction="http://tempuri.org/UploadSiteReadings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditContent">
      <soap12:operation soapAction="http://tempuri.org/AddEditContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <soap12:operation soapAction="http://tempuri.org/DeleteContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContent">
      <soap12:operation soapAction="http://tempuri.org/SearchContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditPage">
      <soap12:operation soapAction="http://tempuri.org/AddEditPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <soap12:operation soapAction="http://tempuri.org/DeletePage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <soap12:operation soapAction="http://tempuri.org/SearchPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditImage">
      <soap12:operation soapAction="http://tempuri.org/AddEditImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap12:operation soapAction="http://tempuri.org/DeleteImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchImage">
      <soap12:operation soapAction="http://tempuri.org/SearchImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditFile">
      <soap12:operation soapAction="http://tempuri.org/AddEditFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <soap12:operation soapAction="http://tempuri.org/SearchFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlgorithmatOnlineServiceHttpGet" type="tns:AlgorithmatOnlineServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <http:operation location="/RegisterCustomer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <http:operation location="/DeleteContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchContent">
      <http:operation location="/SearchContent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <http:operation location="/DeletePage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <http:operation location="/SearchPage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <http:operation location="/DeleteImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchImage">
      <http:operation location="/SearchImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <http:operation location="/DeleteFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <http:operation location="/SearchFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlgorithmatOnlineServiceHttpPost" type="tns:AlgorithmatOnlineServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <http:operation location="/RegisterCustomer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContent">
      <http:operation location="/DeleteContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchContent">
      <http:operation location="/SearchContent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePage">
      <http:operation location="/DeletePage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchPage">
      <http:operation location="/SearchPage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <http:operation location="/DeleteImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchImage">
      <http:operation location="/SearchImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <http:operation location="/DeleteFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <http:operation location="/SearchFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlgorithmatOnlineService">
    <wsdl:port name="AlgorithmatOnlineServiceSoap" binding="tns:AlgorithmatOnlineServiceSoap">
      <soap:address location="http://www.algorithmat.com/AlgorithmatOnlineService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlgorithmatOnlineServiceSoap12" binding="tns:AlgorithmatOnlineServiceSoap12">
      <soap12:address location="http://www.algorithmat.com/AlgorithmatOnlineService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlgorithmatOnlineServiceHttpGet" binding="tns:AlgorithmatOnlineServiceHttpGet">
      <http:address location="http://www.algorithmat.com/AlgorithmatOnlineService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlgorithmatOnlineServiceHttpPost" binding="tns:AlgorithmatOnlineServiceHttpPost">
      <http:address location="http://www.algorithmat.com/AlgorithmatOnlineService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>